{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<h1>
    Bienvenue dans le Back-Office de Y'a Faim
</h1>
<div>
    <img class="logo" src="{{ asset('Logo.jpg') }}" alt="Logo Y'a Faim">
</div>
{% endblock %}