{% extends 'base.html.twig' %}

{% block title %}New Recipe{% endblock %}

{% block body %}
<div class="container">
    <h1>Création Nouvelle Recette</h1>
        <a href="{{ path('app_recipe_index') }}" class="btn btn-sm btn-success">Revenir à la liste</a>
    {{ include('recipe/_form.html.twig') }}

    </div>
{% endblock %}
