<form method="post" action="{{ path('app_diet_delete', {'id': diet.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ diet.id) }}">
    <button class="btn btn-sm btn-danger">Supprimer</button>
</form>
